::-webkit-scrollbar {
  display: none;
}
.externallist{
  display: flex;
  flex-direction: column
}
/* .internallist > input{
  z-index: 2002;
  position: sticky;

} */
.list-group{
  /* overflow-y: scroll;
  height: 250px; */
  opacity: 0;
  position: absolute;
  width: 211px;
}


.list-group:hover {
  color: #000;
  opacity: 1;
}

.searchbar{
  height: 25px;
  width:500px;
  /* margin-left: -40%; */
}
.searchbox{
  display: flex;
  align-items: center;
  /* width: 200px; */

}
.searchboxouter{
  display: flex;
  flex-direction: column;
  align-items: center;
}