::-webkit-scrollbar {
  display: none;
}
.externallist{
  display: flex;
  flex-direction: column
}
.internallist > input{
  z-index: 2002;
  position: sticky;

}
.list-group{
  overflow-y: scroll;
  height: 250px;
  opacity: 0;
}


.list-group:hover {
  color: #000;
  opacity: 1;
}
