.toprated1{
    border: 2px solid rgb(141, 150, 151) !important;
    /* margin-top: 25px; */
    width: 60%;
    justify-content: center;
    margin-left: 7.5% !important;
}
.ratedHeading{
  
  text-align: center;
  font-size: 15px !important;  
  font-weight: 600;
  color: rgb(73, 79, 105);
}
.sidebar_bottom1{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    /* text-align: left; */
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.sidebar_bottom1>p{
  text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
}
.sidebar_top{
/* display: flex !important;
justify-content: center !important; */

/* margin-left: 8% !important; */
}
/* .sidebarHeading>h4{
  font-size: 14px !important;
  color: black !important;
} */
.sidebarHeading1{
  font-size: 14px !important;
  color: black !important;
}
.sidebarHeading:hover {
  color: blue !important;
  
  
}
.sidebarHeading1:hover {
  color: blue !important;
}

td{
  text-align: center;
}
.my-custom-scrollbar {
  position: relative;
  max-height: 400px;
  overflow: scroll;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

  .tableHeading{
    margin:10px;
    text-align: center;
  
  }
  .tableRegistered{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .tableRegistered > .icon{
    color:#0069d9;
    margin-left: 6px;
     

   
  }
  .sidebarClass{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
 .Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}