
.externalpost {
  display: flex;
  flex-direction: column;
}

.feed {

  /*flex: 0.6 1; */
  margin: 0 20px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  
   display: flex;
   flex-direction: column;
  /* width: 100%; */
  /* flex-basis: 500px;*/
  padding:5px;


}
h3{
    margin-right: 10px;
}
textarea{
    margin-left:50px;
}
.direction {
  display: flex;
  margin: 5px;
}
.btndirection > button{
    margin-left:50%;
    height:20px;
    width:30px;
}

#Textarea2{
    margin-left: 85px;
}
#Textarea3{
    margin-left: 28px;
}

.feed_inputContainer {
  background-color: white;
  padding: 10px;
  /* padding-bottom: 20px; */
  border-radius: 10px;
  /* margin-bottom: 20px; */
  align-self: center;
  justify-content: center;
  width: 100%;

}

.feed_input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;


}
.feed_input > form {
  display: flex;
  width: 100%;
}
.feed_input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}

.feed_input > form > button {
  display: none;
}
.feed_inputOptions {
  display: flex;
  justify-content: space-evenly;
}
