.table{
    border: 2px solid lightblue;
    margin-top: 25px;
    width: 60%;
    margin-left: 18%;
}
th{
  
  text-align: center;
  font-size: 20px;  
  font-weight: 800;
  color: rgb(73, 79, 105);
}

td{
  text-align: center;
}
.my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }